# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Mac OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# RAG Stuff
.rag_cache/
runs/
results/
testset/
get_github_context.sh
ragas_context.md
